@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  font-family: sans-serif;
}

.landing-page h2 {
  font-family: 'Pacifico', cursive;
}

.menuFromBurger h2 {
  font-family: 'Pacifico', cursive;
}
